<h3>{{viewTitle}}</h3>

<form action="/category" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{category._id}}">
    <div class="form-group">
        <label>Add Category</label>
        <input type="text" class="form-control" name="addCategory" placeholder="Add Category" value="{{category.addCategory}}">
        <div class="text-danger">
            {{category.fullNameError}}</div>
    </div>
   
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/category/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>