<h3><a class="btn btn-secondary" href="/category"><i class="fa fa-plus"></i> Create New</a> Category List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Add Category</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.addCategory}}</td>
            <td>
                <a href="/category/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/category/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>